<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>
        <title>Uutiset</title>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="navbar :: topbar"  id="topbar">
            </div>
            <div id="content">
                <h1>Moi maailma</h1>
                <p>Oleskelette nyt paikalla, johon on paraikaa rakentumassa eeppinen uutissivusto</p>
                <a href="uutiset">uutiset</a>
            </div>
        </div>
    </body>
</html>
