<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>

    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar :: topbar"  id="topbar">
            </div>
            <div id="content">
                <h2>Sign in</h2>
                <form method="POST" th:action="@{/authenticate}">
                    <div class="text-boxs">
                        <span class="text-box">
                            <label class="s-user"></label>
                            <input type="text" name="username" placeholder="Username" />
                        </span>
                        <span class="text-box">
                            <label class="s-lock"> </label>
                            <input type="text" name="password" placeholder="password" /> 
                        </span>
                    </div>
                    <input type="submit" value="sign in" />

                    <p class="not-member">
                        <a class="member-sign" th:href="@{/signup}"> Not a member?</a> <a class="member-signup" th:href="@{/signup}">Sign Up Now <span> </span></a>
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
