<!DOCTYPE HTML>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>fragment</title>
    </head>
    <body>

        <div th:fragment="topbar" id="topbar">
            <div id="title">
                <h1>UUTISJUTTU.fi</h1>
                <h2>-Mistä Suomi puhuu tänään?</h2>
            </div>
            <div id="navbar">
                <span class="teksti">
                    <a href="/uutiset">Uutiset</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/kommentit">Kommentit</a>
                    &nbsp;&nbsp;&nbsp;
                    Tilastot 
                    &nbsp;&nbsp;&nbsp; 
                    Tietoa palvelusta 
                    &nbsp;&nbsp;&nbsp; 
                    <span sec:authorize="isAuthenticated()">kirjautunut: <a th:href="@{/kayttajat/{username}(username=${#authentication.name})}" th:text="${#authentication.name}">nimimerkki</a> | <a href="#" onclick="document.getElementById('logout-form').submit();">Kirjaudu ulos</a></span>
                    <!--                    <span sec:authorize="isAuthenticated()">kirjautunut: <span th:text="${@authenticatedUser.getUsername()}">nimimerkki</span></span>-->
                    <span sec:authorize="isAnonymous()"><a href="/login">Kirjaudu sisään</a> | <a href="/signup">Tee tunnus</a></span> 
                </span>
            </div>
            
             <form style="visibility: hidden; display: none" id ="logout-form" method="post" action="#" th:action="@{/logout}"><input type="submit" value="Logout"/></form>
             
        </div>


        <div th:fragment="navbar">
            &copy; 2015 Uutisjuttu
        </div>

    </body>

</html>