<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar :: topbar"  id="topbar">
            </div>
            <div id="content">
<!--                <img id="publisher-image" th:src="@{/static/images/publisher/{name}.png(name=${publisher.shortname})}" src="../../static/images/publisher/hs.png" width="80" height="80" alt="kuva"></img>-->
                <h2 th:text="${publisher.name}">Julkaisijan nimi</h2>
                <p>Palveluun on lisätty yhteensä <span th:text="${publisher.news.size()}">4</span> julkaisijan tuottamaa uutista.</p>

                <div th:each="uutinen : ${publisher.news}">
                    <div th:replace="fragments/newslist :: news-content"></div>
                    <hr/>
                </div>

            </div>
        </div>
    </body>
</html>
