<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>

    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar :: topbar"  id="topbar">
            </div>
            <div id="content">
                <h2>Luo uusi käyttäjätunnus</h2>
                <div th:if="${error}">
                    Virhe: <span th:text="${error}"></span>
                </div>
                <form method="POST" th:action="@{/kayttajat}">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="submit" value="sign up" />
                </form>
            </div>
        </div>
    </body>
</html>
