<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <h2>Sign Up Form</h2>
        <form method="POST" th:action="@{/kayttajat}">
            <div class="text-boxs">
<!--                <span class="text-box">
                    <input type="text" name="name" placeholder="Name" />
                </span>
                <span class="text-box">
                    <input type="text" name="slogan" placeholder="Slogan" />
                </span>
                <hr/>-->
                <span class="text-box">
                    <label class="s-user"></label>
                    <input type="text" name="tunnus" placeholder="Username" />
                </span>
                <span class="text-box">
                    <label class="s-lock"></label>
                    <input type="text" name="salasana" placeholder="Password" />
                </span>
            </div>
            <input type="submit" value="sign up" />
        </form>
    </body>
</html>
