<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>

    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar :: topbar"  id="topbar">
            </div>
            <div id="content">
                
                <div th:if="${errors}">
                    Errors:
                    <ul th:each="error : ${errors}">
                        <li th:text="${error}">error</li>
                    </ul>
                </div>

                <form method="POST" th:action="@{/uutiset}" enctype="multipart/form-data">
                    <input class="widefield" type="url" name="url" placeholder="Lisää uutinen www-osoitteen perusteella"></input>
                    <input type="submit" value="Lisää"/>
                </form>

                <div th:each="uutinen : ${news}">
                    <div th:replace="fragments/newslist :: news-content"></div>
                    <hr/>
                </div>

<!--                <div th:each="uutinen : ${news}">
                    <div id="news-content"> 
                        <a th:href="@{/julkaisija/{id}(id=${uutinen.publisher.id})}"><img id="publisher-image" th:src="@{/static/images/publisher/{name}.png(name=${uutinen.publisher.shortname})}" src="../../static/images/publisher/hs.png" width="80" height="80" alt="kuva"></img></a>
                        <div id="news-title-publisher">
                            <a th:href="@{/uutiset/{id}(id=${uutinen.id})}"><h3 th:text="${uutinen.title}">Templateen on laitettu testiuutinen</h3></a>
                            <div th:text="${uutinen.description}">Tänään iltapäivällä template-tiedostoon lisättiin uutinen.</div>
                            <div class="pubdate">Lisätty palveluun <span th:text="${#calendars.format(uutinen.submitted,'dd.M.yyyy')}">01.01.1970</span> - <span th:if="${uutinen.comments != null}"><span th:text="${uutinen.comments.size()}">4</span> kommenttia</span></div>
                        </div>
                    </div>
                    <hr/>
                </div>-->

                <!--/*--> 
                <div>
                    <div id="news-content"> 
                        <img id="publisher-image" src="http://www.beneq.com/sites/default/files/imagecache/Logo/helsingin_sanomat%20copy.gif" width="80" height="80" alt="kuva"></img>
                        <div id="news-title-publisher">
                            <a><h3>HS testasi: Valetukiasema ei löydy Helsingistä helposti</h3></a>
                            <div>Eduskunnan edustalla on rauhallista. HS:n testiryhmän viisi salattua erikoispuhelinta, joissa on patentoitu verkon turvallisuutta seuraava sovellus, piirtävät tasaisia, valkoisia pylväitä sovelluksen näytölle.</div>
                            <div class="pubdate">Lisätty palveluun 01.01.1970 - <span>4</span> kommenttia</div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div>
                    <div id="news-content"> 
                        <img id="publisher-image" src="http://www.beneq.com/sites/default/files/imagecache/Logo/helsingin_sanomat%20copy.gif" width="80" height="80" alt="kuva"></img>
                        <div id="news-title-publisher">
                            <a><h3>HS testasi: Valetukiasema ei löydy Helsingistä helposti</h3></a>
                            <div>Eduskunnan edustalla on rauhallista. HS:n testiryhmän viisi salattua erikoispuhelinta, joissa on patentoitu verkon turvallisuutta seuraava sovellus, piirtävät tasaisia, valkoisia pylväitä sovelluksen näytölle.</div>
                            <div class="pubdate">Lisätty palveluun 01.01.1970 - <span>4</span> kommenttia</div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div>
                    <div id="news-content"> 
                        <img id="publisher-image" src="http://www.beneq.com/sites/default/files/imagecache/Logo/helsingin_sanomat%20copy.gif" width="80" height="80" alt="kuva"></img>
                        <div id="news-title-publisher">
                            <a><h3>HS testasi: Valetukiasema ei löydy Helsingistä helposti</h3></a>
                            <div>Eduskunnan edustalla on rauhallista. HS:n testiryhmän viisi salattua erikoispuhelinta, joissa on patentoitu verkon turvallisuutta seuraava sovellus, piirtävät tasaisia, valkoisia pylväitä sovelluksen näytölle.</div>
                            <div class="pubdate">Lisätty palveluun 01.01.1970 - <span>4</span> kommenttia</div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <!--*/-->
            </div>
        </div>
    </body>
</html>
