<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div>Uutiset:</div>

        <div th:each="uutinen : ${uutiset}">
            <span th:text="${uutinen.url}">url</span>
        </div>
    </body>
</html>
