<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutisjuttu</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/static/css/style.css}"></link>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="navbar :: topbar"  id="topbar">
            </div>
            <div id="content">

                <div th:include="navbar :: copy"></div>

                <div id="pubdate"><p>Julkaistu 01.01.1970 00:00 (5 päivää sitten)</p></div>
                <!--                <a th:href="${uutinen.url}" href="http://www.hs.fi/kaupunki/a1416107739345?jako=28c44ef205324f73b4da39dd4534ab46&ref=og-url">-->
                <a th:href="${news.url}">

                    <div id="news-content"> 
                        <img id="publisher-image" src="http://www.beneq.com/sites/default/files/imagecache/Logo/helsingin_sanomat%20copy.gif" width="80" height="80" alt="kuva"></img>
                        <div id="news-title-publisher">
                            <h3 th:text="${news.title}">Miesjoukko yltyi joukkotappeluun Vantaan Ikean parkkipaikalla</h3>
                            <span>Julkaisijan nimi</span>
                        </div>
                    </div>
                </a>
                <div id="news-description">
                    <p th:text="${news.description}">Noin neljäkymmentävuotias mies joutui ison miesjoukon pahoinpitelemäksi Ikean tavaratalon pysäköintialueella Vantaalla lauantaina iltapäivällä. </p>
                </div>
                <div id="kommentit">
                    <h2>Kommentit</h2>
                </div>
                <hr/>

                <form method="POST" th:action="@{/kommentit}" enctype="multipart/form-data">
                    <textarea name="content"></textarea>
                    <input type="hidden" name="newsId" th:value="${news.id}"/>
                    <input type="submit" value="Kommentoi"/>
                </form>

                <div th:each="comment : ${news.comments}">
                    <span class="kommentti">
                        <span th:text="${comment.postDate}">created</span>
                        &lt;
                        <a th:if="${comment.author != null}" th:href="@{/kayttajat/{username}(username=${comment.author.username})}">
                            <span class="kommentti" th:text="${comment.author.username}">Anssi</span>
                        </a>
                        <span th:if="${comment.author == null}" class="kommentti">Anonyymi</span>
                        &gt;: 
                    </span>
                    <span class="kommentti" th:text="${comment.content}">joopa joo</span>
                </div>
            </div>
        </div>
    </body>
</html>
