<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div>Uutiset:</div>

        <div th:each="uutinen : ${uutiset}">
            <a th:href="${uutinen.url}"><h3 th:text="${uutinen.title}">Otsikko</h3></a>
            <span th:text="${uutinen.description}">url</span>
        </div>

        <div>Lisää uutinen:</div>
        <form method="POST" th:action="@{/uutiset}" enctype="multipart/form-data">
            <textarea name="url"></textarea>
            <input type="submit" value="Lisää"/>
        </form>
    </body>
</html>
