body {
    background-color: #e69138;
}

input:not([type=submit]):not([type=file]) {
    border: 2px solid grey;
    border-radius: 10px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.widefield {
    width:500px;
}

a {
    color:#b45f06;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#wrapper {
    background-color: #fefefe;
    width: 1200px;
    margin: auto;
}

#content {
    padding: 10px;
    font: 16px sans-serif;
}

.pubdate {
    font-size:12px;
    color: #555555;
    font-family: "verdana", Sans;
}

#topbar {
    background-color: #fff2cc;
    font-family: "courier new", Serif;
}

#title {
    padding: 10px;
}

#topbar h1 {
    font-weight: lighter;
    font-size: 40px;
    line-height:40px;
    margin: 0px;
}

#topbar h2 {
    font-weight: lighter;
    font-size: 20px;
    line-height:10px;
    margin: 0px;
}

#navbar {
    background-color: #933B0E;
    font-weight: bold;
    font-family: "Helvetica", Sans;
    color: #fff2cc;
    margin: 0px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-variant: small-caps;
    padding: 0 12px;
}

.selected{
    background-color: #56230D;
}

#navbar li:hover{
    background: #e69138;
}

#navbar a {
    color: #fff2cc;
    padding: 0 12px;
}

#navbar a:link {
    text-decoration: none;
}

#navbar a:visited {
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: none;
}

#navbar a:active {
    text-decoration: none;
}
#publisher-image {
    float:left;
    border: 1px solid;
}

#news-content {
    font-family: "Georgia", "courier new", serif;
    display:inline-block;
    padding: 10px;
}

#news-content a {
    color:black;
    text-decoration: none;
}

#news-content h3 {
    font-weight: normal;
    margin:0px;
    font-size: 28px;
}

#news-title-publisher {
    padding: 10px;
    float: right;
    width: 1000px;
}

#news-title-publisher a {
    color:black;
}

#news-description p {
    font-family: "Georgia", "courier new", serif;
    color:black;
    margin:0px;
}

.kommentti {
    display:flex;
    line-height:22px;
}

#kommentit h2 {
    font-family: "Helvetica", Sans;
    font-weight: normal;
}

.publisher-box {
    border: 1px solid gray;
    display: inline-block;
    text-align: center;
    width: 140px;
}

.publisher-box div {
    text-align: center;
}

.publisher-image {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}