<!DOCTYPE HTML>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>fragment</title>
        <link rel="stylesheet" type="text/css" href="../../../static/css/style.css" th:href="@{/static/css/style.css}"></link>

    </head>
    <body>

        <div th:fragment="topbar" id="topbar">
            <div id="title">
                <h1>UUTISJUTTU.fi</h1>
                <h2>-Mistä Suomi puhuu tänään?</h2>
            </div>
            <div id="navbar">
                <ul>
                    <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/uutiset') and !#httpServletRequest.requestURL.toString().contains('/kommentoiduimmat')) ? 'selected' : 'notselected'}"><a href="/uutiset">Uutiset</a></li>
                    <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/uutiset/kommentoiduimmat')) ? 'selected' : 'notselected'}"><a href="/uutiset/kommentoiduimmat">Kommentoiduimmat</a></li>
                    <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/kommentit')) ? 'selected' : 'notselected'}"><a href="/kommentit">Kommentit</a></li>
                    <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/tilastot')) ? 'selected' : 'notselected'}"><a href="/tilastot">Tilastot</a></li>
                    <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/tietoa')) ? 'selected' : 'notselected'}"><a href="/tietoa">Tietoa palvelusta</a></li>
                    <span sec:authorize="isAuthenticated()">
                        <li>kirjautunut: <a th:href="@{/kayttajat/{username}(username=${#authentication.name})}" th:text="${#authentication.name}">nimimerkki</a></li>
                        <li><a href="#" onclick="document.getElementById('logout-form').submit();">Kirjaudu ulos</a></li>
                    </span>
                    <span sec:authorize="isAnonymous()">
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/login')) ? 'selected' : 'notselected'}"><a href="/login">Kirjaudu sisään</a></li>
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/signup')) ? 'selected' : 'notselected'}"><a href="/signup">Tee tunnus</a></li>
                    </span> 
                </ul>
            </div>

            <form style="visibility: hidden; display: none" id ="logout-form" method="post" action="#" th:action="@{/logout}"><input type="submit" value="Logout"/></form>

        </div>


        <div th:fragment="navbar">
            &copy; 2015 Uutisjuttu
        </div>

    </body>

</html>